In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
# Cargar los datos del archivo Empresas1.xlsx de la hoja resultados
empresas1 = pd.read_excel('Empresas1.xlsx', sheet_name='Resultados')
empresas2 = pd.read_excel('Empresas2.xlsx', sheet_name='Resultados')

In [3]:
empresas_total = pd.concat([empresas1, empresas2], ignore_index=True)

In [4]:
empresas_total.head(2)

,Nombre empresaAlfabeto latino,NACE Rev. 2 Código principal (4 digitos),Código de consolidación,Último año disponible,"Ingresos explotación (Cifra ventas)\nmil USD Últ, año disp,",Número de empleados\nÚlt. año disp.,Ciudad\nLatin Alphabet,Activos fijos\nmil USD Últ. año disp.,Activo circulante\nmil USD Últ. año disp.,Activos totales\nmil USD Últ. año disp.,Fondos de los accionistas\nmil USD Últ. año disp.,Deuda a largo plazo\nmil USD Últ. año disp.,Ingresos explotación (Cifra ventas)\nmil USD Últ. año disp.,Resultado actividades ordinarias\nmil USD Últ. año disp.,P/G por periodo [=ingresos netos]\nmil USD Últ. año disp.,ROE - base: result. antes impuestos\nÚlt. año disp.,ROA utilizando Ingresos Netos\nÚlt. año disp.,Margen de beneficio\nÚlt. año disp.
0,UBESOL SL,1392,C2,2022,286477.305723,869,ATZENETA D'ALBAIDA,77942.163851,135155.556648,213097.720499,135049.704445,11037.151858,286477.305723,1222.297724,1222.297724,1.397,0.574,0.659
1,ANGLES TEXTIL SA,1310,C2,2021,170850.235336,1146,ANGLES,68070.372163,127439.191391,195509.563554,84699.857113,33824.641460,170850.235336,1699.331563,1699.331563,3.230,0.869,1.601

In [13]:
cod_lst = list(empresas_total['NACE Rev. 2 Código principal (4 digitos)'].unique())
cod_lst.sort()
cod_lst

[1011,
 1012,
 1013,
 1020,
 1031,
 1032,
 1039,
 1041,
 1042,
 1051,
 1052,
 1061,
 1062,
 1071,
 1072,
 1073,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1089,
 1091,
 1092,
 1300,
 1310,
 1320,
 1330,
 1390,
 1391,
 1392,
 1393,
 1394,
 1395,
 1396,
 1399]

In [22]:
cod_max_emp =empresas_total.groupby('NACE Rev. 2 Código principal (4 digitos)').sum()['Número de empleados\nÚlt. año disp.']
cod_max_emp

NACE Rev. 2 Código principal (4 digitos)
1011    44200
1012     1786
1013    50866
1020    17224
1031     2052
1032     9236
1039    27317
1041    12580
1042      172
1051    19205
1052     4584
1061     4886
1062      842
1071    39571
1072    19406
1073     1958
1081     7963
1082    11830
1083     4550
1084     5067
1085     8110
1086     7978
1089    26700
1091    12100
1092     1850
1300        2
1310     5689
1320     5905
1330     6320
1390       26
1391     1991
1392     8379
1393      815
1394     1067
1395     1513
1396     3069
1399     5551
Name: Número de empleados\nÚlt. año disp., dtype: int64

In [9]:
dict_NACE = dict(emp_NACE)
dict_NACE

{1011: 501,
 1012: 28,
 1013: 1324,
 1020: 345,
 1031: 50,
 1032: 90,
 1039: 521,
 1041: 720,
 1042: 7,
 1051: 453,
 1052: 212,
 1061: 159,
 1062: 7,
 1071: 2363,
 1072: 344,
 1073: 52,
 1081: 17,
 1082: 236,
 1083: 158,
 1084: 118,
 1085: 177,
 1086: 101,
 1089: 603,
 1091: 431,
 1092: 40,
 1300: 1,
 1310: 233,
 1320: 321,
 1330: 324,
 1390: 1,
 1391: 166,
 1392: 503,
 1393: 45,
 1394: 77,
 1395: 36,
 1396: 91,
 1399: 285}

# ÍNDICE

In [22]:
empresas_tickers = {
    "Repsol": "REP.MC",
    "Iberdrola": "IBE.MC",
    "Telefonica": "TEF.MC",
    "Santander": "SAN.MC",
    "BBVA": "BBVA.MC",
    "CaixaBank": "CABK.MC",
    "Bankinter": "BKT.MC",
    "Mapfre": "MAP.MC",
    "Acerinox": "ACX.MC"
}

tickers_empresas = {valor: clave for clave, valor in empresas_tickers.items()}

In [9]:
data = {
    "Fecha": ["2020-01-01", "2020-12-31", "2021-11-10", "2022-12-31"],
    "Repsol": [1277396053, 1277396053, 1242396053, 1242396053],
    "Iberdrola": [1277396053, 1277396053, 1242396053, 1242396053],
    "Telefonica": [1277396053, 1277396053, 1242396053, 1242396053],
    "Santander": [1277396053, 1277396053, 1242396053, 1242396053],
    "BBVA": [1277396053, 1277396053, 1242396053, 1242396053],
    "CaixaBank": [1277396053, 1277396053, 1242396053, 1242396053],
    "Bankinter": [1277396053, 1277396053, 1242396053, 1242396053],
    "Mapfre": [1277396053, 1277396053, 1242396053, 1242396053],
    "Acerinox": [1277396053, 1277396053, 1242396053, 1242396053]
    }

# Crear DataFrame
num_acc = pd.DataFrame(data)
num_acc['Fecha'] = pd.to_datetime(num_acc['Fecha'])
num_acc.set_index('Fecha', inplace=True)

# Crear rango de fechas diario desde el inicio hasta el final
idx = pd.date_range(start=num_acc.index.min(), end=num_acc.index.max())

# Reindexar el DataFrame para incluir todas las fechas diarias, llenando los valores faltantes
num_acc = num_acc.reindex(idx, method='ffill')

In [10]:
num_acc

,Repsol,Iberdrola,Telefonica,Santander,BBVA,CaixaBank,Bankinter,Mapfre,Acerinox
2020-01-01,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-02,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-03,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-04,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-05,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
...,...,...,...,...,...,...,...,...,...
2022-12-27,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053
2022-12-28,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053
2022-12-29,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053
2022-12-30,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053
2022-12-31,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053,1242396053

In [25]:
tickers = ["REP.MC", "IBE.MC", "TEF.MC", "SAN.MC", "BBVA.MC", "CABK.MC", "BKT.MC", "MAP.MC", "ACX.MC"]

# Descarga los datos de cierre ajustados
precios = yf.download(list(empresas_tickers.values()), start="2020-01-01", end="2022-12-31")['Adj Close']

[*********************100%%**********************]  9 of 9 completed

In [27]:
precios.columns = [tickers_empresas[ticker] for ticker in list(precios.columns)]

In [30]:
num_acc.head(5)

,Repsol,Iberdrola,Telefonica,Santander,BBVA,CaixaBank,Bankinter,Mapfre,Acerinox
2020-01-01,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-02,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-03,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-04,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053
2020-01-05,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053,1277396053

In [31]:
# Asegurar el mismo orden de columnas en ambos DataFrames
orden_columnas = precios.columns
num_acc = num_acc[orden_columnas]

In [32]:
num_acc = num_acc[num_acc.index.isin(precios.index)]

In [37]:
num_acc.to_csv('num_acc.csv')

In [38]:
precios.to_csv('precios.csv')